name: "Terraform Configuration Drift Detection"

run-name: >
  ${{ github.event_name == 'workflow_dispatch' && 'Manual drift detection' || 'Scheduled drift detection' }}
on:
  workflow_dispatch:
  schedule:
    - cron: "17 6 * * *"

permissions:
  id-token: write
  contents: read
  issues: write

env:
  AWS_PROFILE_TERRAFORM_STATE: "973963482762_TerraformStateAccess"
jobs:
  terraform-plan:
    name: "Terraform Plan"
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: ./
    environment: main-plan
    timeout-minutes: 5
    env:
      AWS_ROLE_TO_ASSUME: ${{ vars.AWS_ROLE_TO_ASSUME}}
      AWS_REGION: ${{ vars.AWS_REGION }}
      TERRAFORM_VERSION: ${{ 1.12.2 }}

    outputs:
      tfplanExitCode: ${{ steps.terraform-plan.outputs.exitcode }}

    steps:
      - name: Configure AWS credentials from AWS account
        id: terraform-state-creds
        uses: murray-tait/gha/.github/actions/configure-aws-credentials-file@main
        with:
          role-to-assume: ${{ vars.AWS_ROLE_TO_ASSUME }}
          aws-profile: 973963482762_TerraformStateAccess
          aws-region: ${{ vars.AWS_REGION }}

      - name: Plan for drift detection
        id: terraform-plan
        uses: uses: murray-tait/gha/.github/actions/plan@main
        with:
          checkout-ref: refs/tags/deployment/main
          terraform-version 1.12.2

      # If changes are detected, create a new issue
      - name: Publish Drift Report
        if: steps.terraform-plan.outputs.exitcode == 2
        uses: actions/github-script@v7
        env:
          SUMMARY: "${{ steps.terraform-plan-string.outputs.summary }}"
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const body = `${process.env.SUMMARY}`;
            const title = 'Terraform Configuration Drift Detected';
            const creator = 'github-actions[bot]'

            // Look to see if there is an existing drift issue
            const issues = await github.rest.issues.listForRepo({
              owner: context.repo.owner,
              repo: context.repo.repo,
              state: 'open',
              creator: creator,
              title: title
            })
              
            if( issues.data.length > 0 ) {
              // We assume there shouldn't be more than 1 open issue, since we update any issue we find
              const issue = issues.data[0]
              
              if ( issue.body == body ) {
                console.log('Drift Detected: Found matching issue with duplicate content')
              } else {
                console.log('Drift Detected: Found matching issue, updating body')
                github.rest.issues.update({
                  owner: context.repo.owner,
                  repo: context.repo.repo,
                  issue_number: issue.number,
                  body: body
                })
              }
            } else {
              console.log('Drift Detected: Creating new issue')

              github.rest.issues.create({
                owner: context.repo.owner,
                repo: context.repo.repo,
                title: title,
                body: body
             })
            }

      # If changes aren't detected, close any open drift issues
      - name: Publish Drift Report
        if: steps.terraform-plan.outputs.exitcode == 0
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const title = 'Terraform Configuration Drift Detected';
            const creator = 'github-actions[bot]'

            // Look to see if there is an existing drift issue
            const issues = await github.rest.issues.listForRepo({
              owner: context.repo.owner,
              repo: context.repo.repo,
              state: 'open',
              creator: creator,
              title: title
            })
              
            if( issues.data.length > 0 ) {
              const issue = issues.data[0]
              
              github.rest.issues.update({
                owner: context.repo.owner,
                repo: context.repo.repo,
                issue_number: issue.number,
                state: 'closed'
              })
            }

      # Mark the workflow as failed if drift detected
      - name: Error on Failure
        if: steps.terraform-plan.outputs.exitcode == 2
        run: exit 1
